# Xcode
DerivedData/
build/
*.xcuserstate
*.xcuserdata/
*.xccheckout
*.moved-aside
*.xcscmblueprint

# Swift Package Manager
Packages/
Package.pins
Package.resolved
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png

# macOS
.DS_Store
